* {
    font-family: 'Special Elite', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

a,
.attribution {
    text-align: center;
    color: #5A86CC;
}

a:visited {
    color: #74ff62;;
}

.navBar {
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: #74ff62;
    width: 100%;
    padding: 25px 0;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navItem:hover {
    cursor: pointer;
}

.navItem > img {
    position: absolute;
    z-index: 1;
}


.navText {
    font-size: small;
    color: #74ff62;
    background-color: #000000cb;
    z-index: 2;
}

.navItem:hover > .navText {
    color: #F5DE46;
    background-color: #3B68B0;
}

div#radContent {
    background: #282828;
    border-radius: 20px;
    height: 100%;
    width: 85%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radBlock {
    color: #74ff62;
    background: #3a3a3a;
    border-radius: 10px;
    border: 10px solid #5A86CC;
    width: 250px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.radBlock.title {
    margin-top: 20px;
    padding: 20px;
    width: 85%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.radBlock .customer {
    margin-top: 10px;
    text-align: right;
}

.radBlock .hours {
    font-size: 28px;
    text-align: center;
}

.radBlock.menuTitle {
    color: #5A86CC;
    border: 10px solid #74ff62;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.description,
.price {
    padding-left: 10px;
}

.radBlock > .itemImage {
    align-self: flex-end;
}

.radBlock > p,
.radBlock > h4 {
    margin: 0;
}

.radBlock > h4 {
    margin: 10px 0;
}